<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Application</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
<header th:fragment="header">
    <h1>Welcome to Our Application!</h1>

    <nav>
        <ul>
            <li><a th:href="@{/}">Home</a></li>
            <li><a th:href="@{/register}">Register</a></li>
            <li><a th:href="@{/login}">Login</a></li>
        </ul>
    </nav>
</header>

<section th:fragment="content">
    <p>This is the default content!</p>
</section>

<footer th:fragment="footer">
    <p>Copyright © 2024 Your Company</p>
</footer>
</body>
</html>
