<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Film Card</title>
    <link rel="stylesheet" th:href="@{/css/main.css}" />
</head>
<body>
<div style="width: 300px; border: 1px solid #FFFFFF; background-color: #111827; margin-right: 40px; margin-bottom: 20px; display: flex; flex-direction: column; color: white; justify-content: center; border-radius: 20px" th:fragment="filmCard (filmId, filmTitle, filmDescription, filmDirector, filmYear, filmCoverImage, filmPrice, filmDirector, filmDuration, filmGenres, boughtStatus, currentLoginId, isWishlisted)">
    <div class="flex flex-col shadow-lg p-8 flex space-y-4">
        <img class="rounded-3xl shadow-lg" style="height: 200px; object-fit: cover; object-position: center" th:src="${filmCoverImage}" alt="">
        <div class="flex flex-col">
            <h2 class="text-2xl font-bold" th:text="${filmTitle} + ' (' + ${filmYear} + ')'"></h2>
            <div style="display: flex; flex-direction: row; justify-content: space-between; align-items: center; margin-top: 6px">
                <label th:text="${filmDuration}"></label>
                <div class="rounded-xl font-bold" style="width: fit-content; color: white" th:text="'🪙 ' + ${filmPrice}"></div>
            </div>
            <div style="font-size: 13px; margin-top: 5px; width: 100%; text-align: end" th:text="${#strings.arrayJoin(filmGenres, ', ')}">No tags</div>
        </div>
        <div style="font-style: italic; font-size: 13px" th:text="'Directed by: ' + ${filmDirector}"></div>
        <form method="post" class="buyForm w-full" th:action="@{'/action/buy/' + ${filmId}}">
            <button th:if="${!boughtStatus}"
                    style="background-color: limegreen; padding: 10px 4px; border-radius: 10px; font-style: oblique; color: antiquewhite"
                    class="buy-button font-bold w-full">Buy
            </button>
        </form>
        <form method="post" class="wishlistForm w-full" th:action="@{'/wishlists/' + ${filmId}}">
            <input type="hidden" name="userId" th:value="${currentLoginId}">
            <button type="submit" th:if="${!boughtStatus && !isWishlisted}"
                    style="background-color: yellow; padding: 10px 4px; border-radius: 10px; font-style: oblique; color: antiquewhite; color: black"
                    class="wishlist-button font-bold w-full">Add to wishlist
            </button>
        </form>
        <form class="deleteWishlistForm" style="margin-top: 0" method="post" th:action="@{'/wishlists/' + ${filmId}}">
            <input style="display: inline" type="hidden" name="userId" th:value="${currentLoginId}">
            <input type="hidden" name="_method" value="delete" />
            <button type="submit" th:if="${isWishlisted && !boughtStatus}"
                    style="background-color: red; padding: 10px 4px; border-radius: 10px; font-style: oblique; color: antiquewhite"
                    class="wishlist-button font-bold w-full">Remove from wishlist
            </button>
        </form>
        <button
                style="background-color: #2563EB; padding: 10px 4px; border-radius: 10px; font-style: oblique; color: white; margin-top: 15px; margin-bottom: 15px"
                class="filmCard font-bold w-full"
                th:attr="data-film-id=${filmId}"
        >
            View Detail
        </button>
        <p sec:authorize="isAuthenticated()" style="color: red; text-align: end; font-style: italic" class="font-bold" th:if="${boughtStatus}">
            BOUGHT
        </p>
    </div>
</div>

</body>
</html>