<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Review Card</title>
</head>
<body>
<div style="background-color: mediumaquamarine; color: black; border-radius: 30px" class="flex flex-col gap-2 p-4" th:fragment="reviewCard (username, rating, comment)">
    <div class="flex justify justify-between">
        <div class="flex gap-2">
            <span th:text="${username}"></span>
        </div>
    </div>
    <div style="display: flex; flex-direction: row">
        <img th:each="star : ${#numbers.sequence(1, rating)}"
             th:src="@{/images/star.png}"
             style="width: 20px" alt="Star" />
    </div>
    <div th:text="${comment}"></div>
</div>
</body>
</html>