<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Browse Film</title>
    <link rel="stylesheet" th:href="@{/css/main.css}" />
</head>
<body>
<div th:replace="~{layout/default :: header}"></div>

<section style="padding: 4rem" class="container min-h-screen bg-black">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-md-4 mb-4" th:each="film : ${films}">
                    <!--/*@thymesVar id="film" type="seleksi.labpro.owca.dto.FilmDto"*/-->
                    <div th:replace="~{components/_filmCard :: filmCard (
                    filmTitle = ${film.getTitle()},
                    filmDescription = ${film.getDescription()},
                    filmDirector = ${film.getDirector()},
                    filmYear = ${film.getReleaseYear()},
                    filmCoverImage = ${film.getCoverImageUrl()},
                    filmPrice = ${film.getPrice()},
                    filmDirector = ${film.getDirector()},
                    filmDuration = ${film.getFormattedTime()},
                    filmGenres = ${film.getGenres()},
                    boughtStatus = ${film.getBought()}
                    )}"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<div th:replace="~{layout/default :: footer}"></div>
</body>
</html>