<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1, maximum-scale=5">
    <meta name="description" content="This is wishlist page.">
    <title>My Bought List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" async/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/pagination.css}" async/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/navbar.css}" async>
    <script th:src="@{/js/globals.js}"></script>
    <script th:src="@{/js/navbar.js}"></script>
    <script th:src="@{/js/wishlists.js}"></script>
    <script th:src="@{/js/auth.js}" defer></script>
    <style>
        @media (min-width: 720px) {
            .film-card {
                margin-right: 40px;
            }
        }
    </style>
</head>
<body>
<div th:replace="~{layout/default :: header}"></div>

<section style="padding: 140px 4rem 4rem 4rem" class="flex justify-center items-center flex-row flex-wrap min-h-screen bg-black">
    <h1 th:if="${films.size()} == 0" style="color: white; font-size: 80px; text-align: center">
        YOUR WISHLIST IS EMPTY.
    </h1>
    <!--/*@thymesVar id="films" type="List<String>s"*/-->
    <div class="col-md-4 mb-4" th:each="film : ${films}">
        <!--/*@thymesVar id="film" type="seleksi.labpro.owca.dto.FilmDto"*/-->
        <!--/*@thymesVar id="currentLoginUser" type="seleksi.labpro.owca.entity.User"*/-->
        <div th:replace="~{components/_filmCard :: filmCard (
        filmId = ${film.getId()},
        filmTitle = ${film.getTitle()},
        filmDescription = ${film.getDescription()},
        filmDirector = ${film.getDirector()},
        filmYear = ${film.getReleaseYear()},
        filmCoverImage = ${film.getCoverImageUrl()},
        filmPrice = ${film.getPrice()},
        filmDirector = ${film.getDirector()},
        filmDuration = ${film.getFormattedTime()},
        filmGenres = ${film.getGenres()},
        boughtStatus = ${film.getBought()},
        currentLoginId = ${currentLoginUser.getId()},
        isWishlisted = ${film.getIsWishlisted()}
        )}"></div>
    </div>

</section>
<div th:if="${films.size() > 0}" class="pagination">
    <ul class="pagination-list">
        <!--/*@thymesVar id="currentPage" type="java.lang.Integer"*/-->
        <!--/*@thymesVar id="totalPages" type="java.lang.Integer"*/-->
        <!--/*@thymesVar id="size" type="java.lang.Integer"*/-->
        <li th:if="${currentPage != 0}">
            <a th:href="@{/my-list(page=${currentPage - 1}, size=${size})}">&laquo; Previous</a>
        </li>
        <li th:each="i : ${#numbers.sequence(0, totalPages - 1)}">
            <a th:href="@{/my-list(page=${i}, size=${size})}" th:text="${i + 1}" th:class="${currentPage == i ? 'active' : ''}"></a>
        </li>
        <li th:if="${currentPage + 1 < totalPages}">
            <a th:href="@{/my-list(page=${currentPage + 1}, size=${size})}">Next &raquo;</a>
        </li>
    </ul>
</div>
<div th:replace="~{layout/default :: footer}"></div>
</body>
</html>